<h1 class="active-meetings">Созданные события от <%= user.facebook.name %></h1>
<div class="meetings-display" ng-if="meeting.ownerName === user.facebook.name">

    <div class="meeting" ng-repeat="meeting in meetings" ng-if="meeting.active===true">
        <div><input type="checkbox" ng-click="completeMeeting(meeting._id)"> {{ meeting.active }}</div>
        <div class="meeting-title"><a href="api/meetings/{{meeting._id}}"> {{ meeting.title }}</a></div>
        <div> {{ meeting._id }} </div>
        <div>{{ meeting.description }}</div>
        <div>{{ meeting.ownerName }}</div>
        <div>{{ meeting.latitude }}</div>
        <div>{{ meeting.longitude }}</div>
        <div>{{ meeting.visibility }}</div>
        <div>{{ meeting.startDate }}  {{ meeting.startTime | date:'shortTime'}}</div>
        <div><button type="submit" class="btn btn-primary btn-lg" ng-click="deleteMeeting(meeting._id)">Удалить</button></div>
    </div>
</div>
<a href="#/map">Создать</a>